/* App.css */

body{
  background-color: rgba(241, 175, 77, 0.808);
}

h1{
  background-color: #cc964f;
  opacity: 200px;
}

.products-div{
  margin-top: 20%;
  margin-left: 10%;

}
.product-container {
    display:flex;
    flex-wrap: wrap;
    

  }
  .card {
    width: calc(100% - 20px); /* Adjust card width */
    height: calc(100% - 20px);
    margin-bottom: 20px; /* Add margin between each card */
    padding: 10px; /* Add padding inside each card */
    border: 1px solid #3b1515;
    border-radius: 5px;
    background-color: rgb(207, 174, 135);
  }
  
  .card img {
    display: block;
    margin-bottom: 10px;
    max-width: 100%;
  }
  
  .card p {
    margin: 5px 0;
  }
  